#features {
    background-color: $color-light-lt;

    .oc-items {
        position: relative;

        h4 {
            text-align: center;
        }

        &:hover {

            .btn-blue {
                opacity: 1;
            }
        }
    }

    .btn-blue {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        font-size: 1.4rem;
        transform: translate(-50%, -50%);
        @include transition(opacity);
    }
}

.feature-wrapper {
    @extend .flexRow-center;

    h2 {
        color: $color-Dark-lt;
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }

    .feat-list {
        @extend .flexColumn-start;

        .feat-links {
            padding: 0.5rem 0;
            font-size: 1.6rem;
            color: $color-Dark-lt;
            font-weight: 700;

            &:last-child {
                margin-top: 3rem;
            }
        }
    }

    .btn-view:hover {
        @include transition(color);
        color: $color-primary;
    }

    .feature-category {
        width: 25%;
        // padding-left: 3rem;
    }

    #feature-carousel {
        width: 65%;
        padding: 0 3rem;
    }
}