@use "../abstract/helper" as *;
@use "../components/buttons";

footer {
  color: white;
  padding: $section-padding 0;
  background-color: $color-footerBar;

  .footer-wrapper {
    @extend .flexRow-start;
  }

  .ftr-logo {
    flex-basis: 20%;
  }

  .ftr-nav {
    @extend .flexRow-start;
    flex-basis: 70%;

    .ftr-col,
    .ftr-cols,
    .ftr-list {
      @extend .flexColumn-start;
    }
  }

  .ftr-link {
    color: white;
    padding: 1rem 0.4rem;
    font-weight: 600;
    font-size: $fs-h4;
    font-family: $fm-primary;

    &:nth-child(3) {
      margin-top: 2rem;
    }
  }

  .blue {
    color: $color-primary;
  }
}

.ftr-logo {
  a {
    color: white;
    font-weight: 700;
    font-size: $fs-h2;
    font-family: $fm-primary;
  }

  p {
    margin: 2rem 0;
    color: $color-text-primary;
  }

  .social-links svg {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
}

.ftr-list {
  a {
    padding: 0.4rem;
    font-size: $fs-icons;
    color: $color-text-primary;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    &:hover {
      color: white;
      background-color: $color-primary;
    }
  }
}

.footbar {
  padding: 2.8rem 0;
  background-color: $color-Dark-400;

  .footbar-wrapper {
    @extend .flexRow-between;
  }

  p {
    flex-basis: 60%;
    font-size: $fs-icons;
    color: $color-text-primary;
  }
}

// BRANDS CAROUSEL----------------------------------------------------------------

#brands {
  padding: 1.2rem 0;

  .oc-items {
    transition: opacity 0.4s ease-in-out;

    &:hover img {
      cursor: pointer;
      opacity: 1;
    }

    img {
      opacity: 0.6;
    }
  }
}

.scrollToTop {
  position: fixed;
  right: 3%;
  bottom: 4%;
  z-index: 99;
  width: 5rem;
  height: 5rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow-lg;
  background-color: $color-primary;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    right 0.3s ease-in-out;

  svg {
    line-height: 0;
    color: white;
    font-size: 2rem;
    transform: translateY(4px);
  }

  &:hover {
    background-color: darken($color-primary, 20%);
  }
}
