footer {
    padding: $section-padding 0;
    color: white;
    background-color: $color-footer;

    .footer-wrapper {
        @extend .flexRow-start;
    }

    .ftr-logo {
        flex-basis: 20%;
    }

    .ftr-nav {
        @extend .flexRow-start;
        flex-basis: 70%;

        .ftr-col,
        .ftr-cols,
        .ftr-list {

            @extend .flexColumn-start;
        }
    }

    .ftr-link {
        font-size: $fs-h4;
        font-weight: 600;
        font-family: $fm-primary;
        color: white;
        padding: 1rem 0;

        &:nth-child(3) {
            margin-top: 2rem;
        }
    }
}

.ftr-logo {

    a {
        font-size: $fs-h2;
        font-family: $fm-primary;
        font-weight: 700;
        color: white;
    }

    p {
        color: $color-text-primary;
        margin: 2rem 0;
    }

    .social-links svg {
        font-size: 2rem;
        margin-right: 0.5rem;
        cursor: pointer;
        @include transition(color);

        &:hover {
            color: $color-primary;
        }
    }
}

.ftr-list {

    a {
        font-size: $fs-ftr-list;
        color: $color-text-primary;
        padding: 0.4rem;
        @include transition2(color, 0.4s);
        @include transition2(background-color, 0.4s);

        &:hover {
            color: white;
            background-color: $color-primary;
        }
    }
}

.footbar {
    padding: 2.8rem 0;
    background-color: $color-Dark-med;

    .footbar-wrapper {
        @extend .flexRow-between;
    }

    p {
        color: $color-text-primary;
        font-size: $fs-ftr-list;
        flex-basis: 60%;
    }
}


// BRANDS CAROUSEL----------------------------------------------------------------

#brands {
    padding: 1.2rem 0;

    .oc-items {
        @include transition(opacity);

        &:hover img {
            cursor: pointer;
            opacity: 1;
        }

        img {
            opacity: 0.6;
        }
    }
}

.scrollToTop {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 10%;
    right: 3%;
    z-index: 99;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-lg;
    background-color: $color-primary;
    @include transition(background-color);
    @include transition(opacity);
    @include transition(right);

    svg {
        font-size: 2rem;
        color: white;
        line-height: 0;
        transform: translateY(4px);
    }

    &:hover {
        background-color: darken($color-primary, 15%);
    }
}