.gear-wrapper {
    @extend .flexRow-start;
}

.gear-clothing,
.shoulder-pads {
    @extend .flexColumn-start;
    padding: 0 2rem;
    width: 50%;

    .heading {
        text-align: center;
        width: 65%;
        margin: 0 auto;

        h2 {
            margin-bottom: 1.6rem;
        }
    }

    h4 {
        @include transition(color);
        @include transition(background-color);
    }

    .cross-price,
    .prod-price {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-links;
    }

    .cross-price {
        opacity: 0.6;
        margin-left: 0.6rem;
        text-decoration: line-through;
    }
}



// Side by Side  ----------------------------------------------------------------------------------------


#sideBySide {
    padding: $section-padding 0 0;

    .btn {
        position: absolute;
        display: inline-block;
        top: 55%;
        left: 50%;
        opacity: 0;
        line-height: initial;
        transform: translate(-50%, -50%);
        @include transition(opacity);
        @include transition(top);
    }
}

.side-wrapper {
    @extend .flexRow-between;

    figure {
        position: relative;
        overflow: hidden;
        line-height: 0;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-Dark-high;
            @include transition(opacity);
        }

        &:hover {

            &::before {
                opacity: 0.4;
            }

            .btn {
                top: 50% !important;
                opacity: 1 !important;
            }
        }
    }
}