.premium-wrapper {
    @extend .flexRow-between;

    img {
        height: 50rem;
    }

    .headline {
        margin: 2.6rem 0;

        .badge {
            margin-right: 1rem;
        }

        h3 {
            color: $color-Dark-lt;
            margin-top: 1rem;
            line-height: 1.2;
            padding: 0.3rem;
            @include transition(background-color);
            // @include transition(color);

            &:hover {
                color: white;
                background-color: $color-primary;
            }
        }
    }
}


.premium-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50rem;
    flex-basis: 65%;

    &::before {
        content: "";
        width: 100%;
        height: 120%;
        background-image: $color-gradient;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(top);
    }

    &:hover {

        .premium-content {
            bottom: 10%;
        }

        .btn-underline {
            opacity: 1;
        }

        &::before {
            top: -20%;
        }
    }

}

.premium-content {
    position: absolute;
    width: 80%;
    bottom: 2%;
    left: 8%;
    color: white;
    @include transition(bottom);

    h2 {
        font-size: 4rem;
        line-height: 1.2;
        margin: 1rem 0 2rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .btn-underline {
        opacity: 0;
        @include transition(opacity);
    }
}

.premium-headlines {
    flex-basis: 35%;
    padding-left: 5rem;
}