.flexRow-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flexRow-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexRow-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexRow-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumn-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flexColumn-strCen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes bounceInfinite {
  0% {
    bottom: -17.5rem;
  }

  50% {
    bottom: -15rem;
  }

  100% {
    bottom: -17.5rem;
  }
}
